.about-bg {
    background-color: #00bdbd;
}

html {
    scroll-behavior: smooth;
    }
.nav-place-holder {
    height: 7vh;
    background-color: #262b37;
}
.dynamic-nav-bar {
    left: 0px;
    right: 0px;
    /*position: fixed;*/
    min-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #262b37;
    z-index: 100;
}


.buttom-bg a, .buttom-bg a:hover, .buttom-bg a.active{
    padding: 0;
    margin: 0;
    color: none;
    height: 50%;
    text-transform: none;
}
a {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    color: #bbb;
    text-decoration: none;
    padding-left: 3vh;
    padding-right: 3vh;
    height: 100%;
    text-transform: uppercase;
}
a:hover {
    color: white;
}
a.active {
    background-color: #1b1f29;
}
.container {
  margin: 0 auto;
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*border: solid black 10px;*/
}

.container-dynamic {
    min-height: 2vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*justify-content: center;*/
}

body {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 22px;
}

.title {
  display: block;
  font-weight: 777;
  font-size: 6vw;
  color: #ddd;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 2.5vw;
  color: #ddd;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.left {
    width: 60%;
}
.right {
    width: 30%;
}
.transparent-black {
    background: rgba(0, 0, 0, 0.6);
}
.cool-img-bg {
    background-image: url("../static/cool.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.top-border {
    border: solid white 2px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
}

.context-container {
    padding-top: 80px;
    padding-bottom: 100px;
    width: 100%;
    left: 0;
    right: 0;
}

.context-header {
    padding-top: 10px;
    padding-bottom: 45px;
}

.context-header h1 {
    text-transform: uppercase;
    font-weight: 2;
    font-size: 40px;
    color: #ff675f;
}

#about-section-id .context-header h1 {
    color: white;
}

.circle-date-item h5{
    color: white;
    font-weight: 10;
}


.context-header h5 {
    font-weight: 2;
    font-size: 15px;
}

.context-content {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#about-section-id .context-content {
    width: 60%;
}
@media only screen and (max-width: 1300px) {
    #about-section-id .context-content {
        width: 90%;
    }
}


.about-content-about {
    /*padding-left: 43vh;*/
    /*padding-right: 10vh;*/
    text-align: left;
    float: left;
    width: 60%;
}

.white-text {
    color: white;
}

.about-content-img {
    /*padding-right: 35vh;*/
    float: left;
    width: 40%;
    padding-top: 1vh;
}

.about-content-img img {
    width: 35vh;
    height: 35vh;
    border-radius: 200px;
}
@media only screen and (max-width: 1000px) {
    .about-content-about {
        width: 100%;
    }
    .about-content-img {
        width: 100%;
    }
}
p {
   padding-top: 1vh;
   padding-bottom: 1vh; 
}

#skills-section-id {
    background-color: #eeeeee;
}

#experience-section-id {
    background-color: #fff;
}

#education-section-id {
    background-color: #eeeeee;
}

#portfolio-section-id {
    background-color: #2bb3dd;
}

.circular-item {
    float: left;
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
}
#skills-section-id .context-content {
    padding-left: 1vh;
    padding-right: 1vh;
    width: 60%;
    margin: auto;
}
@media only screen and (max-width: 1200px) {
    #skills-section-id .context-content {
        width: 75%;
    }
}
@media only screen and (max-width: 800px) {
    #skills-section-id .context-content {
        width: 90%;
    }
}
@media only screen and (max-width: 620px) {
    #skills-section-id .context-content {
        width: 80%;
    }
    .circular-item {
        width: 50%;
    }
}
@media only screen and (max-width: 500px) {
    #skills-section-id .context-content {
        width: 80%;
    }
    .circular-item {
        width: 100%;
    }
}


.circle-date {
    float: left;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 4vh;
    padding-right: 3vh;
}

#experience-section-id .context-content {
    max-width: 65%;
}
#education-section-id .context-content {
    max-width: 65%;
}

@media only screen and (max-width: 1300px) {
    #experience-section-id .context-content {
        max-width: 90%;
    }
    #education-section-id .context-content {
        max-width: 90%;
    }

}

@media only screen and (max-width: 1000px) {
    #experience-section-id .context-content {
        max-width: 95%;
    }
    #education-section-id .context-content {
        max-width: 95%;
    }

}

.card-contain {
    background-color: #eeeeee;
    float: left;
    width: 79%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1vh;
    min-height: 200px;
    margin-bottom: 6vh;
}

.date-item-float {
    float: left;
    width: 18%;
}

.circle-date-item {
    /*float: left;*/
    background-color: #ff675f;
    max-width: 15vh;
    min-height: 15vh;
    margin:auto;
    border-radius: 200px;
    padding: 0;
    margin-bottom: 4vh;
    margin-right: 1vh;
}
.circle-date-item div.top-space {
    margin:auto;
    padding-top: 6vh;
}

.work-cards .card {
    max-width: 95%;
    background-color: #eeeeee;
    min-height: 19vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

.card-item {
    width: 100%;
    height: 20vh;
    margin-bottom: 10px;
}

.arrow-shape {
    /*display: flex;*/
    /*padding-top: 3vh;*/
    margin-top: 4vh;
    height: 0;
    border-top: 2vh solid transparent;
    border-right: 3vh solid #eeeeee;
    border-bottom: 2vh solid transparent;
    /*border-left: 4vh solid transparent;*/
    border-radius: 1px;
}
.arrow-container {
    float:left;
    width: 2.5%;
}

#education-section-id .card-contain{
    background-color: white;
}
#education-section-id .arrow-shape {
    border-right: 3vh solid white;
}

@media only screen and (max-width: 900px) {
    .arrow-container {
        width: 100%;
    }
    .arrow-shape {
        width: 0;
        margin:auto;
        border-left: 2vh solid transparent;
        border-right: 2vh solid transparent;
        border-bottom: 3vh solid #eeeeee;
    }
    #education-section-id .arrow-shape {
        border-right: 2vh solid transparent;
        border-bottom: 3vh solid white;
    }

    .card-contain {
        width: 100%;
    }
    .date-item-float {
        width: 100%;
    }
    .circle-date-item {
        margin: auto;
    }
}



.google-container {
    background-color: #e7711ba6;
    height: 450px;
}
iframe {
    /*width: 333px‌;*/
    /*height: 40%;*/
    /*border:0;*/
}

#contact-section-id .context-container {
    padding-bottom: 0;
}

.address-content-bg {
    background-color: #474d5d;
    display: flex;
    justify-content: center;
}
.address-content {

    width: 100%;
    padding-top: 6vh;
    padding-bottom: 5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    max-width: 1000px;
}

.language-buttom {
    left: 0;
    position: fixed;
    /*background-color: #eeeeee;*/
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 2.5vh;
    text-transform: uppercase;
    z-index: 10000;
    height: 100px;
}

.language-buttom:hover {
    color: white;
}

.contact-details {
    float: left;
    width: 30%;
    text-align: left;
}
.contact-with-email, .contact-details h1 {
    text-align: left;
}

.contact-with-email {
    float: left;
    width: 70%;
}

/* responsivenizing the buttom contact*/
@media only screen and (max-width: 660px) {
    .contact-details {
        width: 100%;
        margin: auto;
        /*justify-content: center;*/
        /*text-align: center;*/
        /*align-self: center;*/

    }
    .contact-with-email {
        width: 100%;
        margin: auto;
    }
    .small-center {
        width: 95%;
        margin: auto;
        margin-bottom: 20px;
    } 
}

.inp-container {
    display: grid;
    grid-template-areas:
        'top-inp-l top-inp-r'
        'bottom-inp bottom-inp'
        'buttom buttom';
}

.inp {
    background-color: #585f73;
    padding: 2vh;
    border:0;
    margin:10px;
    margin-bottom: 2.5vh;
}

.inp-top-l {
    grid-area: top-inp-l;    
}

.inp-top-r {
    grid-area: top-inp-r;
}

.inp-botton {
    grid-area: bottom-inp;
    height: 10vh;
}
@media only screen and (max-width: 480px) {
    .inp-container {
        display: grid;
        grid-template-areas: 
            'top-inp-r'
            'top-inp-l'
            'bottom-inp'
            'buttom';
    }
}

.email-buttom {
    margin: 10px;
    margin-top: 1vh;
    grid-area: buttom;
    padding: 2vh;
    background-color: #ff675f;
    border: none;
    text-decoration: none;
    text-align: center;
    color: white;
}
.email-buttom:hover {
    background-color: #f5534b;
}

body {
    /*padding-top: 100px;*/
}

.buttom-bg {
    width: 100%;
    height: 150px;
    background-color: #eeeeee;
    display: flex;
    /*text-align: center;*/
    justify-content: center;
    align-items: center;
}

svg {
    margin-left: 6px;
    margin-right: 6px;
    background-color: #eeeeee;
    border-radius: 100px;
    transition: 1s;
}

svg.telegram-i {
    color: #34ace0;
}

svg.gitlab-i {
    color: #dc4128;
}
svg.github-i {
    color: black;
}

svg:hover {
    /*background-color: white;*/
    /*color: green;*/
}

.hidden {
  display: none;
}

.hidden10 {
    display: none;
}

#burger-slider-id {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .hidden10 {
        display: block;
    }
    #dynamic-nav-bar-id {
        display: none;
    }
    .nav-place-holder {
        display: none;
    }
    .container {
        min-height: 100vh;
    }
    #burger-slider-id {
        display: block;
    }
}

#portfolio-section-id h1,
#portfolio-section-id h5,
#portfolio-section-id p {
    color: white;
}

.address-content h1,
.address-content h5 {
    color: white;
    font-weight: 19;
}
.address-content p {
    color: #eee;
}

.circular-item {
    h2 {
        font-weight: bold;
        color: #474d5d;
    }
    #observer-tag-id {
        font-weight: 2;
    }    
    p {
        font-size: 2vh;
        color: #767984;

    }
}
